div {
  background-color: #ddd;
  padding: 10px;
}

button {
  display: block;
  margin: 10px;
  background-color: orange;
  border: none;
  padding: 5px;
  border-radius: 2px;
  cursor: pointer;
}

input {
  display: block;
  border: 1px solid #ccc;
  outline: 0;
  padding: 5px;
  border-radius: 4px;
}

p {
  color: rgb(24, 75, 39);
  font-family: tahoma;
  font-weight: bold;
  display: none;
}

.first {
  background-color: rgb(250, 186, 186);
  width: 300px;
  height: 300px;
}
.second {
  background-color: rgb(125, 128, 235);
  width: 200px;
  height: 200px;
}
.third {
  background-color: rgb(52, 52, 54);
  width: 100px;
  height: 100px;
}
